body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    color: #007BFF;
}

article {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.enlaces-relacionados {
    display: flex;
    justify-content: space-around;
}

img {
    width: 600px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.modelo-x1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #c91313;
    color: #0926b5;
}

.caracteristicas {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
